
.swiper-button-prev::after,.swiper-button-next::after{
    content-visibility: hidden !important;
  }
  
  
  
  
  .zoomable {
    position: relative;
    overflow: hidden;
  }
  .zoomable__img {
    transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
    transition: transform 0.15s linear;
  }
  .zoomable--zoomed .zoomable__img {
    cursor: zoom-in;
    transform: scale(var(--zoom, 2));
  }
  
  
  
  
  
  
  
  .mega_menu {
    transition: 0.5s;
    box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
  }
  
  
  
  
  .main_menu .mega_menu {
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
  }
  
  .main_menu:hover > .mega_menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    z-index: 99;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  #content {
    display: none;
  }
  
  
  
  #preloader {

  }
  